.spinner {
  &.spinner-small {
    width: 40px;
    height: 40px;
    border-width: 4px;
  }
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 500ms infinite cubic-bezier(0.4, 0, 0.2, 1);
  @apply border-t-violet-500;

  &.spinner-small {
    width: 40px;
    height: 40px;
    border-width: 4px;
  }

  &.spinner-extra-small {
    width: 16px;
    height: 16px;
    border-width: 2px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
