@import "./normalize.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.cdnfonts.com/css/google-sans");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  @apply text-slate-700;
  height: 100vh;
  overflow: hidden;
}

.secondary-font {
  font-family: "Work Sans", sans-serif;
}

/* .input {
  display: flex;
  @apply flex-col gap-1;

  &:focus-within {
    label {
      @apply text-sky-400 transition-colors font-bold;
    }
  }
sp
  input {
    @apply rounded-md;
  }

  &.row {
    @apply flex-row;
  }
}

input,
textarea {
  @apply border outline-none border-gray-200 focus:ring focus:ring-sky-300 rounded-sm py-3 px-4 text-slate-500;
}
 */

button {
  height: 40px;
  @apply bg-sky-500 text-white font-bold py-2 px-4 rounded-lg flex justify-center items-center transition-colors;
  &:hover {
    @apply bg-sky-600;
  }
}

.overlay {
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0.055),
    rgba(0, 0, 0, 0.06),
    rgba(0, 0, 0, 0.065)
  );
}
